#banner {
    overflow: hidden;
    position: relative;
    padding-bottom: 132px;
    .content{
        background-color: #f7f7f7;
        .container {
            position: relative;
            .banner-content {
                max-width: 700px;
                overflow: hidden;
                padding: 140px 0px 180px;
    
                .tag {
                    padding-right: 30px;
                    border-radius: 40px;
                    display: inline-block;
                    margin-bottom: 45px;
                    background-color: #efeff0;
    
                    .inner-tag {
                        color: #fff;
                        font-weight: 500;
                        padding: 12px 30px;
                        margin-right: 10px;
                        border-radius: 40px;
                        display: inline-block;
                        background-color: #0000fe;
                    }
    
                    p {
                        display: inline-block;
                        font-weight: 500;
                        margin: 0;
                    }
                }
    
                h1 {
                    color: #000;
                    font-size: 54px;
                    font-weight: 700;
                    line-height: 1.65;
                    padding-bottom: 35px;
                    font-family: "Fira Sans";
    
                    span {
                        font-size: 52px;
                        color: #0000fe;
                        display: inline-block;
                        height: 80px;
                        line-height: 80px;
                        white-space: nowrap;
    
                        i {
                            font-style: normal;
                        }
                    }
    
                    @keyframes anime {
                        0% {
                            font-size: 52px;
                        }
    
                        50% {
                            font-size: 64px;
                        }
    
                        100% {
                            font-size: 52px;
                        }
                    }
                }
    
                .text-p {
                    color: #4f4f4f;
                    font-size: 20px;
                    line-height: 1.6;
                    padding-bottom: 40px;
                }
    
                .btns {
                    display: flex;
                    position: absolute;
                    z-index: 1;
    
                   
    
                    .play-btn {
                        display: inline-block;
                        position: relative;
                        width: 50px;
                        height: 50px;
                        margin-top: 5px;
                        line-height: 50px;
                        border-radius: 100%;
                        transition: 0.3s all ease-in-out;
                        background-color: #0000fe;
                        color: #fff;
                        display: flex;
                        align-items: center;
                        justify-content: center;
    
                        .circle {
                            border: 2px solid rgba(0, 0, 0, 0.15);
                            border-radius: 50%;
                            height: 50px;
                            width: 50px;
                            display: inline-block;
                            position: absolute;
                            animation-play-state: running;
                            animation: scaleBorder 3s linear 0s infinite;
    
                            &.circle2 {
                                animation-delay: 1.5s;
                            }
    
                            &.circle3 {
                                animation-delay: 3s;
                            }
                        }
    
                        @keyframes scaleBorder {
                            0% {
                                transform: scale(1);
                                opacity: 0;
                            }
    
                            20% {
                                transform: scale(1.24);
                                opacity: 1;
                            }
    
                            100% {
                                transform: scale(2.1);
                                opacity: 0;
                            }
                        }
    
                        &:hover {
                            background-color: #e3002a;
                        }
                    }
                }
            }
            
        }
    
        .banner-img {
            position: absolute;
            // top: 90px;
            top: 0px;
            right: -140px;
            img {
                max-width: 100%;
            }
        }
    }
    

    &>span {
        display: inline-block;
        position: absolute;
        z-index: 1;
    }

    .dot1 {
        width: 7px;
        height: 7px;
        top: 200px;
        left: 150px;
        background-color: #00a4ff;
        box-shadow: 0px 6px 13px 0px rgba(0, 0, 254, .25);
        animation: dot1 12s infinite alternate
    }

    .dot2 {
        top: 150px;
        left: 25%;
        width: 10px;
        height: 10px;
        background-color: #000;
        box-shadow: 0px 6px 13px 0px rgba(0, 0, 0, .25);
        animation: dot2 18s infinite alternate;
    }

    .dot3 {
        bottom: 150px;
        left: 150px;
        width: 10px;
        height: 10px;
        background-color: #ff5520;
        box-shadow: 0px 6px 13px 0px rgba(255, 85, 32, .25);
        animation: dot1 12s infinite alternate;
    }

    .dot4 {
        width: 10px;
        height: 10px;
        right: 50%;
        bottom: 200px;
        background-color: #0000fe;
        box-shadow: 0px 6px 13px 0px rgba(0, 0, 254, .25);
        animation: dot2 18s infinite alternate;
    }

    

    @keyframes dot1 {
        0% {
            transform: translate(0px, 0px) rotate(0deg) scale(1);
        }

        20% {
            transform: translate(73px, -1px) rotate(36deg);
        }

        40% {
            transform: translate(111px, 72px) rotate(72deg);
        }

        60% {
            transform: translate(93px, 122px) rotate(108deg);
        }

        80% {
            transform: translate(-70px, 72px) rotate(124deg);
        }

        100% {
            transform: translate(0px, 0px) rotate(0deg) scale(1);
        }
    }

    @keyframes dot2 {
        0% {
            transform: translate(0px, 0px) rotate(0deg) scale(1);
        }

        20% {
            transform: translate(73px, -1px) rotate(36deg) scale(0.9);
        }

        40% {
            transform: translate(141px, 72px) rotate(72deg) scale(1);
        }

        60% {
            transform: translate(83px, 122px) rotate(108deg) scale(1.2);
        }

        80% {
            transform: translate(-40px, 72px) rotate(104deg) scale(1.1);
        }

        100% {
            transform: translate(0px, 0px) rotate(0deg) scale(1);
        }
    } 
    
    .text-rotator{
        .text {
            position: absolute;
            width: 450px;
            left: 50%;
            margin-left: -225px;
            height: 40px;
            top: 50%;
            margin-top: -20px;
          }
          
          h1 {
            display: inline-block;
            vertical-align: top;
            margin: 0;
          }
          
          .word {
            position: absolute;
            opacity: 0;
          }
          span.texts{
            display: inline!important;
            padding-left: 20px;
          }
          span{
            line-height: 88px!important;
          }
          .letter {
            display: inline-block;
            position: relative;
            float: left;
            transform: translateZ(25px);
            transform-origin: 50% 50% 25px;
          }
          
          .letter.out {
            transform: rotateX(90deg);
            animation: anime1 .7s;
          }
          
          .letter.behind { transform: rotateX(-90deg); }
          @keyframes anime1 {
            0% {
                font-size: 48px;
            }

            50% {
                font-size: 74px;
            }

            100% {
                font-size: 48px;
            }
        }
          .letter.in {
            animation: anime1 .3s;
            transform: rotateX(0deg);
          }
    }
}