#blog-details {
    padding: 100px 0px;
    background-color: hsl(240, 8%, 95%);
    color: #555555;

    .blog-box {
        background-color: #fff;

        img {
            width: 100%;
        }

        .blog-content {
            padding: 40px;

            .blog-info {
                margin-bottom: 45px;

                a {
                    font-size: 13px;
                    font-weight: 700;
                    margin-right: 25px;
                    position: relative;
                    color: #0000fe;
                    font-family: "Fira Sans";
                    text-transform: uppercase;

                    &:not(:last-child)::after {
                        top: -3px;
                        width: 2px;
                        content: "";
                        right: -15px;
                        height: 20px;
                        position: absolute;
                        background-color: #0000fe;
                    }
                }
            }

            .blog-text {
                p {
                    margin-bottom: 30px;
                }

                blockquote {
                    font-size: 21px;
                    font-style: italic;
                    margin-bottom: 35px;
                    padding: 20px 0px 20px 60px;
                    border-left: 4px solid #ff5520;
                    color: #555555;
                    font-family: "Roboto";

                    .quote-author {
                        font-style: normal;
                        padding-left: 45px;
                        position: relative;

                        &::before {
                            left: 0;
                            top: 18px;
                            height: 1px;
                            width: 38px;
                            content: "";
                            position: absolute;
                            background-color: #000;
                        }

                        strong {
                            color: #000;
                            font-size: 16px;
                            margin-right: 5px;
                        }

                        span {
                            font-size: 14px;
                        }
                    }
                }
            }

            .post-cat {
                a {
                    margin-right: 5px;
                    padding: 10px 12px;
                    border-radius: 30px;
                    display: inline-block;
                    border: 1px solid #e5e5e5;
                }
            }

            .blog-share {
                span {
                    color: #000;
                    font-weight: 700;
                    margin-right: 10px;
                }

                a {

                    width: 42px;
                    color: #fff;
                    height: 42px;
                    line-height: 42px;
                    margin-left: 8px;
                    text-align: center;
                    border-radius: 100%;
                    display: inline-block;
                    transition: 0.3s all ease-in-out;

                    &:nth-child(2) {
                        background-color: #3b5998;
                    }

                    &:nth-child(3) {
                        background-color: #1da1f2;
                    }

                    &:nth-child(4) {
                        background-color: #0077b5;
                    }
                }
            }
        }
    }

    .box {
        margin-top: 35px;
        background-color: #fff;
    }

    .post-nav-box {
        display: flex;

        .next-box,
        .prev-box {
            padding: 40px;

            .nav-btn-box {
                margin-bottom: 15px;
                padding-bottom: 15px;
                border-bottom: 2px solid #ff5520;

                a {
                    color: #000;
                    font-weight: 700;
                    font-size: 15px;
                    display: block;

                    i {
                        font-size: 14px;
                        color: #0000fe;
                    }
                }
            }

            h3 {
                color: #000;
                font-size: 18px;
            }
        }

        .prev-box {
            border-right: 2px solid #e5e5e5;
        }
    }

    .comments-box {
        padding: 35px;

        .user-comments {
            margin-top: 15px;

            .inner-comment {
                margin-bottom: 35px;
                margin-left: 100px;
            }

            .comment-box {
                display: flex;
                margin-bottom: 35px;

                .img-box {
                    margin-right: 20px;
                    box-sizing: content-box;

                    img {
                        width: 100px;
                        height: 100px;
                    }
                }

                .text-content {
                    display: inline-block;

                    .comment-info {
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: 15px;

                        .comment-author {
                            h3 {
                                font-size: 20px;
                                padding-bottom: 5px;
                            }

                            span {
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }

        p {
            margin-bottom: 0px;
        }

        .reply-btn {
            color: #fff;
            height: 42px;
            width: 100px;
            font-weight: 700;
            border-radius: 30px;
            line-height: 42px;
            display: inline-block;
            background-color: #ff5520;
            text-align: center;
        }


    }

    .sbm-btn {
        color: #fff;
        width: 170px;
        height: 50px;
        border: none;
        font-weight: 700;
        border-radius: 40px;
        background-color: #0000fe;
    }

    .form-area {
        padding: 35px;
        margin-top: 40px;
        background-color: #fff;

        .input-field {
            padding: 0px 7px;

            input {
                width: 254px;
                height: 45px;
                border: none;
                padding-left: 15px;
                border-radius: 4px;
                margin-bottom: 20px;
                background-color: #efeff0;
            }
        }

        textarea {
            width: 100%;
            border: none;
            height: 165px;
            padding: 15px;
            border-radius: 4px;
            margin-bottom: 20px;
            background-color: #efeff0;
        }
    }

    .blog-widgets {
        &>div {
            overflow: hidden;
            border-radius: 4px;
            margin-bottom: 40px;
        }

        h3 {
            color: #000000;
            font-size: 20px;
            font-weight: 700;
            padding-bottom: 14px;
            font-family: "Roboto";
        }

        .p-bg {
            padding: 35px 30px;
            background-color: #fff;
        }

        .search-widget {
            position: relative;

            input {
                width: 100%;
                height: 48px;
                border: none;
                padding-left: 15px;
                border-radius: 4px;
                background-color: #fff;
            }

            button {
                top: 0;
                right: 0;
                width: 48px;
                color: #fff;
                border: none;
                height: 48px;
                position: absolute;
                border-radius: 4px;
                background-color: #ff5520;

                i {
                    color: #fff;
                }
            }
        }

        .blog-category-widget {
            ul {
                li {
                    margin-bottom: 5px;

                    a {
                        color: #000;
                        font-weight: 700;
                        padding-left: 15px;
                        position: relative;
                        font-family: "Roboto";
                        transition: 0.4s all ease-in-out;

                        &::before {
                            left: 0;
                            top: -1px;
                            color: #ff5520;
                            font-size: 14px;
                            content: "ÔÅî";
                            position: absolute;
                            font-weight: 900;
                            font-family: "Font Awesome 5 Free";
                        }

                        &:hover {
                            margin-left: 15px;
                        }
                    }
                }
            }
        }

        .recent-posts {
            .post {
                width: 100%;
                display: flex;
                border: 1px solid #eef1fe;

                &:not(:last-child) {
                    margin-bottom: 14px;
                    padding-bottom: 14px;
                }

                &:last-child {
                    border-bottom: none;
                }

                img {
                    width: 65px;
                    height: 65px;
                    margin-right: 10px;
                    border-radius: 4px;
                }

                h3 {
                    color: #000;
                    font-size: 16px;
                    margin-bottom: 0;
                    font-weight: 700;
                }

            }
        }
        .popular-tags{
            .tags{
                a{
                    margin-right: 5px;
                    margin-bottom: 5px;
                    padding: 10px 12px;
                    border-radius: 30px;
                    display: inline-block;
                    border: 1px solid #e5e5e5;
                }
            }
        }
    }
}